/*!
 * Isobar Australia - Isobar Dstduio v0.1.0 (http://www.isobar.com/au/en/)
 * Copyright 2018 Isobar Australia
 */

body,
html {
  width: 100%;
  height: 100%;
  background-color: #e9ecef !important; }

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

@media (min-width: 768px) {
  body {
    padding: 40px;
    position: relative;
    z-index: 1; }
    body::before {
      box-shadow: inset 0 0 1px 40px #fff;
      bottom: 0;
      content: '';
      height: 100vh;
      left: 0;
      pointer-events: none;
      position: fixed;
      width: 100%;
      z-index: 6; } }

hr {
  max-width: 130px;
  border-width: 1px;
  border-color: #000000; }

hr.light {
  border-color: #fff; }

a, a:focus, a:hover {
  color: #000;
  outline: none;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:hover, a:focus:hover, a:hover:hover {
    opacity: .5; }

h1, h2, h3, h5, h6, .font-serif,
p, h4, .font-sans {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

h1 {
  font-size: 5.5rem; }

h2 {
  font-size: 5rem; }

h3 {
  font-size: 3.428rem; }

h4 {
  font-size: 2.571rem;
  line-height: 3.2rem; }

.font-size-md {
  font-size: 1.12rem;
  line-height: 24px; }

section {
  padding-top: 12rem;
  padding-bottom: 12rem; }
  section p {
    font-size: 1.428rem;
    line-height: 2rem; }

.section-heading {
  margin-top: 0; }

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: #212529; }

.flow {
  overflow-x: hidden; }

/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9
 * [2] IE10+
 */
/* 1 */
.ie9 img[src$=".svg"] {
  width: 100%; }

/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; } }

/* IE11 */
@media all and (-ms-high-contrast: none) {
  *::-ms-backdrop,
  [data-aos^=zoom][data-aos^=zoom] {
    opacity: 1;
    transform: translate(0) scale(1); } }

/* Laptop */
@media (max-width: 1600px) {
  [data-aos^=zoom][data-aos^=zoom] {
    opacity: 1;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1); } }

.vh-30 {
  height: 30vh; }

.vh-45 {
  height: 45vh; }

.vh-50 {
  height: 50vh; }

.vh-80 {
  height: 80vh; }

.vh-92 {
  height: 92vh; }

.vh-100 {
  height: 100vh; }

.h-30 {
  height: 33%; }

.h-25 {
  height: 25%; }

.top-center {
  top: 54%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.mt-6 {
  margin-top: 4rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mr-6 {
  margin-right: 4rem; }

.mb-6 {
  margin-bottom: 6rem; }

.ml-9 {
  margin-left: 9rem; }

.ml-18 {
  margin-left: 18rem; }

.p10p {
  padding: 116px; }

@-webkit-keyframes sides {
  0% {
    width: 0; }
  100% {
    background: white; } }

@keyframes sides {
  0% {
    width: 0; }
  100% {
    background: white; } }

@-webkit-keyframes height {
  0% {
    height: 0; }
  100% {
    background: white; } }

@keyframes height {
  0% {
    height: 0; }
  100% {
    background: white; } }

.bg-cover {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat; }

.cover-top {
  background-position-y: -28px; }

.img-scale {
  -webkit-animation: pop 0.5s ease 1;
          animation: pop 0.5s ease 1; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

.c-pointer {
  cursor: pointer; }

.sticky {
  z-index: 5;
  position: relative; }

.index-4 {
  z-index: 4; }

.index-7 {
  z-index: 7; }

.navbar-brand {
  left: 45px;
  position: fixed;
  top: 2px; }

.navbar-right {
  position: fixed;
  right: 45px;
  top: 12px; }

.navbar-nav {
  font-size: .8125rem;
  font-weight: bold;
  left: 40px;
  line-height: 1.2rem;
  position: fixed;
  top: 30%;
  z-index: -2; }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: column;
        flex-direction: column; }

.nav-title {
  position: relative;
  left: 50px;
  top: 8px; }

.nav-link hr {
  border-width: 2px;
  width: 26px;
  position: absolute;
  opacity: .3;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

.nav-link.active hr {
  width: 40px;
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }

.navbar-light .navbar-nav .nav-link,
.nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0); }

.navbar-light .navbar-nav .nav-link.active:hover {
  color: #000;
  border-color: #000; }

#gallery .swiper-container {
  height: 666px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  max-height: 736px;
  z-index: 1;
  width: 100%; }

#gallery .swiper-wrapper {
  box-sizing: content-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1; }
  .swiper-container-vertical > #gallery .swiper-wrapper {
    -ms-flex-direction: column;
        flex-direction: column; }

#gallery .swiper-slide {
  overflow: hidden;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  position: relative;
  width: 1170px; }

#gallery .slide-inner {
  position: absolute !important;
  width: 100%;
  height: 100% !important;
  left: 0 !important;
  top: 0 !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat; }

#gallery a {
  color: white; }

#gallery .swiper-pagination-fraction {
  bottom: 168px !important; }

#gallery .swiper-button-prev,
#gallery .swiper-pagination {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  right: 0;
  width: auto; }

#gallery .swiper-container-no-flexbox .swiper-slide {
  float: left; }

#gallery .swiper-container-vertical > .swiper-wrapper {
  -ms-flex-direction: column;
      flex-direction: column; }

#gallery .swiper-wrapper {
  box-sizing: content-box;
  height: 100%;
  position: relative;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  width: 100%;
  z-index: 1; }

#gallery .swiper-container-wp8-horizontal,
#gallery .swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

#gallery .swiper-container-wp8-vertical,
#gallery .swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

#gallery .gallery-row-controls {
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  width: 130px;
  margin: auto; }

#gallery .gallery-prev,
#gallery .gallery-next {
  cursor: pointer;
  padding-top: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: margin 700ms; }
  #gallery .gallery-prev:focus,
  #gallery .gallery-next:focus {
    outline: none; }

#gallery .gallery-prev {
  margin-left: 10px; }

#gallery .gallery-next {
  margin-right: 10px; }

#gallery .gallery-prev.swiper-button-disabled,
#gallery .gallery-next.swiper-button-disabled {
  cursor: auto;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out; }

#gallery .gallery-pagination {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding-top: 1px;
  padding-right: 16px; }

#gallery .swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

#gallery .swiper-container-horizontal > .swiper-pagination-bullets,
#gallery .swiper-pagination-custom,
#gallery .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.controls {
  position: absolute;
  top: -90px;
  z-index: 9;
  right: 0; }

.next-arrow {
  width: 22px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 5px; }

#swiper-scroll .swiper-wrapper {
  height: 190px; }

.swiper-slide-active .scroll-up {
  -webkit-animation: scrollUp .4s;
          animation: scrollUp .4s; }

@-webkit-keyframes scrollUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
            transform: translate3d(0, 80%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes scrollUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80%, 0);
            transform: translate3d(0, 80%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

#swiper-fade .swiper-container {
  width: 100% !important;
  height: calc(80vh - 120px); }

#swiper-fade .title {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 50%;
  text-align: center;
  margin: auto;
  font-size: 2.25rem; }

#swiper-fade .skip-white {
  background-color: white !important; }

#swiper-fade .swiper-fade-controls {
  bottom: 50px;
  margin: auto;
  position: absolute;
  right: 40px;
  z-index: 1; }

.swiper-slide-active .fade-in {
  -webkit-animation: fadeIn .6s;
          animation: fadeIn .6s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.swiper-slide-active .scroll-in {
  -webkit-animation: scrollIn  .6s;
          animation: scrollIn  .6s; }

@-webkit-keyframes scrollIn {
  0% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes scrollIn {
  0% {
    opacity: 0.9;
    -webkit-transform: translate3d(0, 5%, 0);
            transform: translate3d(0, 5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.79);
  z-index: 2; }
  .overlay .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); }

#video .video {
  width: 100%;
  border: 1px solid black; }

#video video[poster] {
  object-fit: cover; }

#video .wrapper {
  background: #212529;
  display: table;
  width: auto;
  position: relative;
  width: 100%; }

#video .playpause {
  box-shadow: 1px 1px 11px 1px black;
  position: absolute;
  top: 42%;
  left: 47%;
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  #video .playpause:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 0;
    width: 0;
    margin: -12px 0 0 -6px;
    border: solid transparent;
    border-left-color: #000;
    border-width: 12px 20px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out; }
  #video .playpause:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }

/*Global Meida Device Styles*/
@media (max-width: 768px) {
  .d-hide {
    display: none !important; }
  .overlay .overlay-text {
    top: 25%; }
  h1 {
    font-size: 28px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 16px; }
  section {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .mt-6, .mt-9 {
    margin-top: 3rem; }
  #gallery .swiper-container {
    height: 250px; }
  #gallery .swiper-slide {
    width: 100%; }
  #gallery .slide-inner {
    background-size: 380px !important; }
  .p10p {
    padding: 10%; }
  .s-pl-5 {
    padding: 0 10px; }
  #video {
    background: black;
    padding-top: 23px; }
    #video .playpause {
      width: 65px;
      height: 65px;
      top: 27%;
      left: 41%; } }

.font-size-xl {
  font-size: 1.375rem; }

.font-size-lg {
  font-size: 1.25rem; }

.font-size-md {
  font-size: 1.12rem; }

.font-size-sm {
  font-size: 0.8125rem;
  line-height: 1.2rem; }

.bold {
  font-weight: 900; }

.fw-600 {
  font-weight: 600; }

.semi-bold {
  font-weight: 300; }

.light {
  font-weight: 100; }

.italic {
  font-style: italic; }

time {
  color: #495057; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

.text-bright {
  color: #ff523c; }

.text-mute {
  color: #cbcbcb; }

.text-green {
  color: #279b48; }

.text-white {
  color: white; }

.text-black {
  color: black; }

.color-goal-4 {
  color: #c71b2b !important;
  fill: red; }

.bg-primary {
  background-color: #f3e2bb !important; }

.bg-light {
  background-color: #e9ecef !important; }

.bg-pinklight {
  background-color: #f7d8c8 !important; }

.bg-dark {
  background-color: #212529 !important; }

.bg-dark-800 {
  background-color: #343a40 !important; }

.bg-red {
  background-color: #eb2843 !important; }

.bg-white {
  background-color: white !important; }

.bg-gray-light {
  background-color: #e9ecef; }

.hlight {
  background-image: linear-gradient(to right, transparent 50%, #f3e2bb 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.4s; }

.hlight:hover {
  background-position: -100% 100%; }

.title-block hr {
  margin: 70px 0 -34px 25px; }

.title-block h4 {
  margin-left: 25px !important; }

.line-top {
  padding-top: .5rem;
  display: inline-block;
  background: linear-gradient(to right, #fff0 50%, #ffffff00 50%) bottom, linear-gradient(to right, white 50%, #fff0 50%) top;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  margin-top: 6rem; }

.icon-flush {
  float: left;
  margin: -22px 20px 0 -20px; }

.img-scale {
  -webkit-animation: pop 0.5s ease 1;
          animation: pop 0.5s ease 1; }

@keyframes pop {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5); } }

BODY {
  overflow-x: hidden; }

.text-primary {
  color: #f3e2bb !important; }

.btn {
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  color: #000 !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.btn-xl {
  font-size: 1.375rem;
  padding: 1rem 4rem;
  line-height: 2.625rem; }

.btn-primary {
  background-color: #f3e2bb !important;
  border-color: #f3e2bb;
  font-size: 0.8125rem !important;
  padding: .9rem 1.5rem; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ecd194 !important; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: none !important; }

@media (min-width: 768px) {
  #nav-top .navbar .navbar-brand {
    position: fixed;
    left: 52px;
    top: 0px; }
  #nav-top .navbar .navbar-nav {
    text-align: center; }
  #nav-top .navbar .nav-link {
    font-family: 'HelveticaNeueLTStd-Bd';
    color: black;
    display: inline-block;
    font-size: 12px;
    height: 100%;
    line-height: 31px;
    padding-left: 0 !important;
    padding-right: 40px !important;
    position: relative;
    text-decoration: none;
    transition: all 0.5s; }
    #nav-top .navbar .nav-link:before {
      border-bottom: solid 2px #ddd;
      bottom: 13px;
      content: " ";
      display: block;
      left: 0%;
      margin: 0 auto;
      position: absolute;
      transition: all 0.5s;
      width: 0%;
      z-index: -1; }
    #nav-top .navbar .nav-link:hover::before, #nav-top .navbar .nav-link.active::before {
      border-bottom: solid 2px #ff523c;
      width: 50%;
      left: 0%; }
  #nav-top .navbar.shrink {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; }
    #nav-top .navbar.shrink .nav-link {
      font-size: 14px; } }

#nav-top .navbar {
  padding: 0 0 0 20px; }
  #nav-top .navbar .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.1);
    margin: 5px; }
  #nav-top .navbar .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.a-link {
  color: black; }

@media (min-width: 768px) {
  .a-link {
    display: inline-block;
    height: 100%;
    position: relative;
    text-decoration: none;
    transition: all 0.5s; }
    .a-link.active {
      color: #ff523c !important; }
    .a-link:before {
      border-bottom: solid 2px #ddd;
      bottom: 6px;
      content: " ";
      display: block;
      left: 0%;
      margin: 0 auto;
      position: absolute;
      transition: all 0.8s;
      width: 0%;
      z-index: -1; }
    .a-link:hover::before {
      border-bottom: solid 2px #ff523c;
      width: 100%;
      left: 0%; } }

      #password {
        background: #e9ecef;
        height: 100vh; }
        #password button {
          background: #32b4a5 !important;
          color: white !important;
          font-size: 16px !important; }
          #password button:hover {
            opacity: .8; }
        #password input {
          background: #fff !important;
          border-radius: 2px;
          border: 1px solid #d4d4d4 !important;
          box-sizing: border-box;
          font-size: 16px;
          line-height: normal;
          margin: 6px 0 4px;
          padding: 15px !important; }
          .hide {
            display: none;
          }
